certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
Farama-Notifications==0.0.4
gymnasium==1.1.1
idna==3.10
iniconfig==2.1.0
numpy==2.2.5
orjson==3.10.16
packaging==25.0
pandas==2.2.3
pettingzoo==1.25.0
pillow==11.2.1
pluggy==1.6.0
poke-env==0.9.0
Pygments==2.19.1
pytest==8.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
setuptools==79.0.1
six==1.17.0
svgwrite==1.4.3
tabulate==0.9.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
websockets==15.0.1
